* {
  box-sizing: border-box;
}

body {
  background-color: #f5df4d;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}
header {
  position: fixed;
  background: #97999b;
  padding: 1.4rem 2rem;
  width: 100%;
  height: 60px;
  margin: 0px;
}

.nav-item {
  display: inline;
  padding: 2rem;
  text-transform: uppercase;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: white;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}
footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #97999b;
  width: 100%;
  height: 60px;
  margin: 0px;
}
.footer-item {
  display: inline-block;
  width: 40px;
  padding: 6px;
}
